:root {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --primary-color: #dc3545;
}

* {
    margin: 0;
}

body {
    padding: 20px;
    background-color: var(--bs-dark);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.navbar {
    padding: 20px;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 13px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.nav-item {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.navbar-toggler {
    border: 5px solid var(--primary-color);
}

.color-container {
    background-color: var(--bs-dark);
    border: 4px solid var(--bs-secondary);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container:hover {
    border-color: var(--primary-color);
}

#red-button {
    font-size: 20px;
    color: var(--bs-danger);
}

#yellow-button {
    font-size: 20px;
    color: var(--bs-warning);
}

#blue-button {
    font-size: 20px;
    color: var(--bs-primary);
}

#green-button {
    font-size: 20px;
    color: var(--bs-success);
}

@media (max-width: 576px) {
    .navbar-brand {
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-image {
        display: none;
    }

    .link-name {
        display: none;
    }

    .image-section,
    .about-section,
    .hero-section,
    .container {
        padding: 10px;
        margin: 10px 0;
    }

    .resume-img img {
        width: 100%;
        height: auto;
    }

   
}
@media (max-width: 768px) {
    .resume-img img {
        width: 100%;
        height: auto;
    }
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: #fff;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    background: var(--bs-gradient);

}



.hero-text {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.hero-image {
    flex: 1;
    text-align: right;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.hero-section:hover {
    border-color: var(--primary-color);
}

.buttons {
    justify-content: center;
    display: flex;
    gap: 15px;
}

.btn-primary {
    background-color: var(--primary-color);
    border: 4px solid var(--bs-light);
    font-size: 30px;
}

.btn-primary:hover {
    background-color: var(--bs-light);
    color: var(--primary-color);
    border: 4px solid var(--primary-color);
}

a:active {
    color: var(--primary-color);
}

.about-section {
    display: block;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    border: 4px solid var(--bs-secondary);
    border-radius: 10px;
    background: var(--bs-gradient);
}

.about-section:hover {
    border-color: var(--primary-color);
}

.image-section {
    background: var(--bs-gradient);
    display: block;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    border: 4px solid var(--bs-secondary);
    border-radius: 10px;
}

.project-section {
    background: var(--bs-gradient);
    display: block;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    border: 4px solid var(--bs-secondary);
    border-radius: 10px;
}

.contact-section {
    background: var(--bs-gradient);
    display: block;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    border: 4px solid var(--bs-secondary);
    border-radius: 10px;
}
.email {
    color: var(--primary-color);
}
.gif-section {
    justify-content: center;
    text-align: center;
}

.fa-js {
    color: var(--bs-warning);
}

.fa-html5 {
    color: #e34f36;
}

.fa-css3-alt {
    color: var(--bs-primary);
}

.fa-node-js {
    color: #6cc24a;
}

.fa-git-alt {
    color: #f1502f;
}

.fa-bootstrap {
    color: #be2ed6;
}

.fa-react {
    color: #0dcaf0;
}

.project-link {
    text-decoration: none;
    color: var(--primary-color);
}
.project-link:hover {
    color: var(--primary-color);
}

.project-link:active {
    text-decoration: none;
    color: var(--primary-color)
}
.project-link:link {
    text-decoration: none;
    color: var(--primary-color)
}

.resume-link {
    text-decoration: none;
    color: var(--primary-color);
}
.resume-link:hover {
    color: var(--primary-color);
}

.resume-link:active {
    text-decoration: none;
    color: var(--primary-color)
}
.resume-link:link {
    text-decoration: none;
    color: var(--primary-color)
}

.resume-section {
    background: var(--bs-gradient);
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: #fff;
    border: 4px solid var(--bs-secondary);
    border-radius: 10px;
}
.resume-img img {
    border: 5px solid var(--primary-color);
    border-radius: 10px;
}